.Rproj.user
.Rhistory
.RData
.Ruserdata
data/geography/UScountySPDF.RDa
data/hospital_compare/Timely and Effective Care - Hospital.csv
data/public_health/N29jcki4 - SOI 2012 990 c3 Data Extract.csv
data/health_behavior/BRFSS/LLCP2016.asc
data/openpayments/PGYR15_P063017.zip
data/openpayments/PGYR15_P063017.zip.cpgz
